{erl_opts, [debug_info]}.

{deps, [{cowboy, {git, "https://github.com/ninenines/cowboy", {tag, "2.2.2"}}},
        {json, {git, "https://git.uncoil.net/yegortimoshenko/json"}}]}.

{relx, [{release, {nix_ci, "0.0.0"}, [cowboy]},
        {dev_mode, true},
        {include_erts, false},
	{extended_start_script, true}]}.
